.nav-link {
    margin-right: 30px;
    color: orange;
}
.nav-link:hover {
    color: #f50057;
}

.navbar-brand {
    color: #f50057;
}
.navbar-brand:hover {
    color: orange;
}

.navbar-brand b {
    color: orangered;
    font-size: 40px;
}

.navbar-brand img {
    width: 70px;
    margin-bottom: 10px;
}